[Desktop Entry]
Type=Application
Exec=flatpak run io.gitlab.librewolf-community http://localhost:631/admin
Icon=/usr/share/icons/Paper/512x512/devices/cs-printer.png
Terminal=false
Categories=System;TerminalEmulator;
Keywords=print;CUPS;

Name=CUP Webui
GenericName=Printing
Comment=Web UI for printer config
